body {
    margin: 0;
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#heart {
    position: relative;
}

#heart span {
    position: absolute;
    transform: translate(-50%, -50%);
    
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;

    animation: pulse 4.0s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.03s);
}

@keyframes pulse {
    0% {
        color: #1e1e1e;
        text-shadow: none;
        transform: translate(-50%, -50%) scale(1);
    }

    40% {
        color: #ff3578;
        text-shadow: 0 0 14px #ff3578;
        transform: translate(-50%, -50%) scale(1.3);
    }

    100% {
        color: #1e1e1e;
        text-shadow: none;
        transform: translate(-50%, -50%) scale(1);
    }
}